<div class="container-fluid">
    <div class="row justify-content-center" *ngIf="subCategoryList.length > 0 ; else noData">
        <div class="col-12">
            <h1 class="text-center text-xl font-bold mt-5">
                {{'CATEGORIES.SUB_CATEGORIES'|translate}}
            </h1>
        </div>
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3" *ngFor="let subcategories of subCategoryList">
            <a [routerLink]="['subCategoryDetails',subcategories.name , subcategories._id]">
                <div class="card flex justify-content-center">
                    <p-card [header]="subcategories.name">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="./assets/imges/subCategory/Shopping.svg" />
                        </ng-template>
                    </p-card>
                </div>
            </a>
        </div>
    </div>
</div>
<ng-template #noData>
    <app-data-not-found></app-data-not-found>
</ng-template>
