<div class="container wishListBox">
    <div class="wishListHead" *ngIf="wishlistItems.length > 0">
        <h4 style="font-weight:500">{{'WISHLIST.TITLE'|translate}}</h4>
    </div>
    <div class="wishList-table" *ngIf="wishlistItems.length > 0 ; else emptyWishlist">
        <div class="row wishList-row" *ngFor="let item of wishlistItems;">

            <div class="col-xs-12 col-md-1 d-flex justify-content-center align-items-center">
                <img class="productImg w-full" [src]="item.imageCover" [alt]="item.title" />
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="product-name">{{ item.title }}</div>
                <p-rating [(ngModel)]="item.ratingsAverage" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="product-price"><small>{{item.price | currency :'EGY' :"symbol" : '1.0-0'}}</small></div>
            </div>
            <div class="col-xs-12 col-md-2 wishList-actions">
                <button type="button" class="btn btn-primary" (click)="AddProductToCart(item.id);"
                    pTooltip="{{'WISHLIST.ADD_TO_CART'|translate}}" tooltipPosition="top" placeholder="Top"><i
                        class="pi pi-shopping-cart fs-5 mx-1"></i></button>

                <button type="button" class="btn btn-danger" (click)="RemoveProductFromWishlist(item.id);"
                    pTooltip="{{'WISHLIST.REMOVE_FROM_WISHLIST'|translate}}" tooltipPosition="top" placeholder="Top"><i
                        class="pi pi-trash fs-5 mx-1"></i></button>
            </div>
        </div>
    </div>

    <div class="wishListFooter">
        <button class="btn btn-secondary" type="button" (click)="contiueShopping()">
            {{'CART.CONTINUE_SHOPPING'|translate}} <i class="pi"
                [ngClass]="lang=='ar'?'pi-arrow-left':'pi-arrow-right'"></i></button>
    </div>
</div>

<ng-template #emptyWishlist>
    <div class="alert alert-warning" role="alert">
        <h5>
            <i class="pi pi-heart fs-5"></i>
            {{'WISHLIST.WISHLIST_EMPTY_MESSAGE'|translate}}
        </h5>
    </div>
</ng-template>