@import "./../../../styles.scss";

.register,.login,.forgotPassword {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc(100vh - 165px);
    padding: 20px 0;
    .container {
        display: flex;
        width: 800px;
        min-height: 550px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        .input-box {
            flex: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 20px;
                text-align: center;
                margin: 0px;
            }

            .social-login {
                display: flex;
                justify-content: center;
                margin: 15px 0;

                .social-btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin: 0 10px;
                    color: #fff !important;
                    text-decoration: none;
                    transition: background-color 0.3s;

                    i {
                        font-size: 20px;
                    }
                }

                .facebook-btn {
                    background-color: $orangeColor;
                }

                .linkedin-btn {
                    background-color: #0077B5;
                }

                .github-btn {
                    background-color: #171515;
                }
            }
        }

        .welcome-box {
            flex: 1;
            background-color: $mainColor;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;

            &:lang(ar){
                border-radius: 0 10px 10px 0;
            }
            &:lang(en){
                border-radius: 10px 0px 0px 10px;
            }

            h2 {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }
}