<div class="footer">
    <div class="container d-flex align-items-center flex-row justify-content-around">
        <p>
            <span>{{'FOOTER.COPYRIGHT'|translate}} </span>
            <span>&copy; {{currentYear}}</span>
        </p>
        <p>
            <span>{{'FOOTER.DESIGNBY'|translate}}</span>
            <a href="">
                <span class="designer">{{'Mohamed Nasr'|translate}}</span>
                <i class="pi pi-heart-fill" style="color: gold;"></i>
            </a>
        </p>
    </div>
</div>