<div class="container-fluid">
    <div class="row justify-content-center" *ngIf="categoryList.length > 0 ; else noData">
        <div class="col-12">
            <h1 class="text-center text-xl font-bold mt-5">
                {{'CATEGORIES.TOP_CATEGOIES'|translate}}
            </h1>
        </div>
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3" *ngFor="let category of categoryList">
            <a [routerLink]="['categoryDetails',category.name,category._id]">
                <div class="card flex justify-content-center">
                    <p-card [header]="category.name">
                        <ng-template pTemplate="header">
                            <img alt="Card" [src]="category.image" />
                        </ng-template>
                    </p-card>
                </div>
            </a>
        </div>
    </div>
</div>
<ng-template #noData>
    <app-data-not-found></app-data-not-found>
</ng-template>